body {
    padding: 0;
    top: 0;
    margin: 0;
    text-align: center;
    background: linear-gradient(rgb(7, 121, 188), rgb(22, 63, 166) 100%);
    font-family: Montserrat;
}
html {
    height: 100%;
    padding: 0;
    top: 0;
    margin: 0;
}
header {
    display: grid;
    grid-template-columns: 1fr 12fr;
    background-color: black;
}
a {
    font-size: 12px;
    text-decoration: none;
    color: white;
}
.dados {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 11px;
    padding-right: 15px;
}
.dados > label {
    text-align: initial;
    padding-left: 15px;
    margin-top: 6px;
}
.botao {
    padding-top: 15px;
    padding-bottom: 5px;
}
#divona {
    color: white;
    border: 3px solid rgb(106, 146, 254);
    background-color: rgb(3, 29, 54);
    border-radius: 10px;
    display: grid;
    max-width: 80%;
    grid-template-columns: 1fr 1fr;
    margin: 50px auto;
    height: 485px;
}
#divona > img {
    height: 100%;
    max-width: 100%;
    border-radius: 10px;
}
#divDados {
    padding: 7px;
}
button, input {
    border-radius: 10px;
    height: 25px;
    border: 3px solid rgb(84, 129, 255);
}
button {
    width: 180px;
    height: 30px;
}
button:hover {
    transform: scale(1.15);
    transition: 0.5s;
}
footer {
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 0;
    position: absolute;
    top: 95%;
    color: white;
    background-color: rgb(24, 41, 108);
    width: 100%;
}
header > h1 {
    color: white;
    text-align: left;
    padding-top: 10px;
    font-size: 30px;
}