body {
    padding: 0;
    top: 0;
    margin: 0;
    width: 100dvw;
    height: 100dvh;
    font-family: 'Montserrat';
    background-repeat: no-repeat;
    background-size: cover;
}
section {
    display: grid;
    grid-template-columns: 7fr 1fr;
}
section > div:nth-child(1) {
    margin-left: 7%;
    width: 100%;
}
section > div:nth-child(2) {
    height: 150px;
    border-radius: 0px 0px 0px 15px;
}
button {
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 2px solid red;
    width: 17dvw;
    text-align: center;
    height: 30px;
    left: 0.1%;
    margin: 0.5%;
    margin-left: 1.5%;
    position: absolute;
}
button:hover {
    color: black;
    background-color: white;
    transition: 0.5s;
    transform: scale(1.10);
}
img {
    width: 60%;
    border-radius: 15px;
    padding: 3px;
}
video {
    width: 60%;
    border-radius: 15px;
    padding: 3px;
}
div {
    padding: 1px;
    text-align: center;
}
p {
    margin: 0 auto;
    width: 60%;
    text-align: justify;
    border-radius: 7px;
    padding: 7px;
}
h1 {
    margin: 0 auto;
    width: 60%;
    border-radius: 7px;
    padding: 4px;
}
@keyframes Invertido {
    0% {
        margin-top: 700px;
        rotate: 180deg;
    }
    50% {
        margin-left: 0 auto;
    }
    100% {
        rotate: 0deg;
    }
}
@keyframes Aparicao {
    from {
        margin-left: -2500px;
    }
    to {
        margin-left: 0 auto;
    }
}
@keyframes AparicaoCima {
    from {
        margin-top: 800px;
    }
    to {
        margin-top: 1px;
    }
}
@keyframes PequenoGrandetxt {
    from {
        width: 10%;
        margin: 0 auto;
    }
    to {
        width: 60%;
        margin: 0 auto;
    }
}
@keyframes PequenoGrandeimg {
    from {
        width: 10%;
        padding: 1px;
    }
    to {
        width: 60%;
        padding: 3px;
    }
}

/*Stranger Things*/
@keyframes txtStranger {
    0% {
        color: red;
    }
    50% {
        color: rgba(238, 0, 0, 0.607);
    }
    100% {
        color: red;
    }
}
#section1 {
    animation: Invertido 2s;
}
#txtStranger, #avStranger {
    animation: txtStranger 5s infinite;
    background-color: black;
}
#Stranger {
    animation: txtStranger 10s infinite;
    background-color: black;
}

/*Round 6*/
@keyframes txtRound {
    0% {
        color: rgb(36, 216, 150);
    }
    50% {
        color: rgb(254, 46, 81);
    }
    100% {
        color: rgb(36, 216, 150);
    }
}
#section2 {
    animation: Aparicao 2s;
}
#tituloRound {
    background-color: black;
    animation: txtRound 10s infinite;
}
#txtRound, #avRound {
    animation: txtRound 5s infinite;
    background-color: rgb(0, 0, 0);
}

/*Megatubarão*/
#section3 {
    animation: AparicaoCima 2s;
}
#txtMega, #avMega {
    background-color: black;
    color: white;
    animation: PequenoGrandetxt 2s;
}
#tituloMega {
    background-color: black;
    color: white;
    animation: PequenoGrandetxt 2s;
}
#tubarao {
    animation: PequenoGrandeimg 2s;
}

/*Donzela*/
@keyframes txtDonzela {
    0% {
        color: rgb(255, 255, 255);
    }
    35% {
        color: rgb(255, 115, 0);
    }
    75% {
        color: rgb(255, 64, 0);
    }
    100% {
        color: rgb(255, 255, 255);
    }
}
#section4 {
    animation: Aparicao 2s;
}
#tituloDonzela {
    animation: txtDonzela 10s infinite;
    background-color: black;
}
#txtDonzela, #avDonzela {
    animation: txtDonzela 5s infinite;
    background-color: black;
}

/*Wandinha*/
@keyframes txtWandinha {
    0% {
        color: rgb(255, 255, 255);
    }
    35% {
        color: rgb(174, 49, 252);
    }
    75% {
        color: rgb(199, 110, 255);
    }
    100% {
        color: rgb(255, 255, 255);
    }
}
#section5 {
    animation: Invertido 2s;
}
#tituloWandinha {
    animation: txtWandinha 10s infinite;
    background-color: black;
}
#txtWandinha, #avWandinha {
    animation: txtWandinha 5s infinite;
    background-color: black;
}

/*Uncharted*/
@keyframes txtUncharted {
    0% {
        color: rgb(255, 255, 255);
    }
    35% {
        color: rgb(253, 245, 129);
    }
    75% {
        color: rgb(252, 240, 82);
    }
    100% {
        color: rgb(255, 255, 255);
    }
}
#section6 {
    animation: Aparicao 2s;
}
#tituloUncharted {
    animation: PequenoGrandetxt 2s;
    background-color: rgb(0, 0, 0);
    animation: txtUncharted 10s infinite;
}
#txtUncharted, #avUncharted {
    animation: PequenoGrandetxt 2s;
    background-color: rgb(0, 0, 0);
    animation: txtUncharted 5s infinite;
}

/*Godzilla Minus One*/
@keyframes txtGodzilla {
    0% {
        color: rgb(0, 92, 196);
    }
    35% {
        color: rgb(0, 119, 255);
    }
    60% {
        color: rgb(0, 166, 255);
    }
    80% {
        color: rgb(200, 226, 255);
    }
    100% {
        color: rgb(0, 92, 196);
    }
}
#section7 {
    animation: AparicaoCima 2s;
}
#tituloGodzilla {
    animation: PequenoGrandetxt 2s;
    animation: txtGodzilla 15s infinite;
}
#txtGodzilla, #avGodzilla {
    animation: PequenoGrandetxt 2s;
    animation: txtGodzilla 8s infinite;
}
#Godzilla {
    animation: PequenoGrandeimg 2s;
}

/*Círculo de Fogo*/
@keyframes txtCirculo {
    0% {
        color: rgb(149, 185, 207);
    }
    50% {
        color: rgb(57, 99, 126);
    }
    100% {
        color: rgb(149, 185, 207);
    }
}
#section8 {
    animation: Aparicao 2s;
}
#tituloCirculo {
    animation: txtCirculo 10s infinite;
    background-color: black;
}
#txtCirculo, #avCirculo {
    animation: txtCirculo 5s infinite;
    background-color: rgb(0, 0, 0);
}

/*Um Lugar Silencioso*/
@keyframes txtLugar {
    0% {
        color: rgb(255, 208, 0);
    }
    50% {
        color: rgb(255, 255, 255);
    }
    100% {
        color: rgb(255, 208, 0);
    }
}
#section9 {
    animation: Invertido 2s;
}
#tituloLugar {
    animation: txtLugar 10s infinite;
    background-color: black;
}
#txtLugar, #avLugar {
    animation: txtLugar 5s infinite;
    background-color: black;
}

/*Jurassic World*/
@keyframes txtJurassic {
    0% {
        color: rgb(255, 255, 255);
    }
    50% {
        color: rgb(34, 119, 255);
    }
    100% {
        color: rgb(255, 255, 255);
    }
}
#section10 {
    animation: AparicaoCima 2s;
}
#tituloJurassic {
    animation: txtJurassic 10s infinite;
    background-color: black;
}
#txtJurassic, #avJurassic {
    animation: txtJurassic 5s infinite;
    background-color: black;
}