body {
    padding: 0;
    top: 0;
    margin: 0;
    text-align: center;
    background-color: black;
    font-family: 'Montserrat';
    scroll-behavior: smooth;
}
html {
    height: 100%;
    padding: 0;
    top: 0;
    margin: 0;
}
header {
    display: grid;
    grid-template-columns: 1fr 12fr 2fr;
    background-color: black;
    border: 3px solid rgb(141, 203, 206);
}
.dados {
    text-align: left;
    margin-left: 19px;
}
a {
    font-size: 12px;
    text-decoration: none;
    color: white;
}
#linkP {
    font-size: 20px;
    bottom: 11px;
    position: relative;
}
header > section {
    margin-top: 30px;
}
.links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 21px;
}
.links > a:nth-child(1) {
    margin-left: 15px;
}
.links > a:nth-child(3) {
    margin-right: 15px;
}
.links > a {
    background-color: rgb(84, 129, 255);
    border-radius: 10px;
}
#divona {
    color: white;
    border: 3px solid rgb(141, 203, 206);
    background-color: rgb(3, 29, 54);
    border-radius: 50px;
    display: grid;
    max-width: 63dvw;
    grid-template-columns: 1fr 1fr;
    margin: 4vmax auto;
    transition: 0.5s;
}
#imgLogin {
    height: 100%;
    width: 100%;
    border-radius: 50px;
}
#divDados {
    padding: 7px;
}
input {
    border-radius: 10px;
    height: 25px;
    border: 3px solid rgb(84, 129, 255);
    margin-bottom: 20px;
    width: 70%;
}
button {
    border-radius: 10px;
    background-color: rgb(84, 129, 255);
    width: 230px;
    height: 30px;
    color: white;
    border: none;
    margin: 0 auto;
    display: block;
}
button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    transition: 1s;
}
.links > a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    transition: 1s;
}
footer {
    padding: 8px;
    color: white;
    width: 98.6%;
    border: 3px solid rgb(141, 203, 206);
    position: absolute;
    top: 689px;
}
header > h1 {
    color: white;
    text-align: left;
    padding-top: 10px;
    font-size: 30px;
}
@media (max-width: 800px) {
    #divona {
        display: block;
    }
    #divona > img {
        display: none;
    }
}